[Gameplay]

## When checked, disables all trial related content
# Setting type: Boolean
# Default value: false
Disable the trials = false

## When checked, only allows trials to spawn on moons tagged with 'Trials'
# Setting type: Boolean
# Default value: true
Only on trial moons = true

