## Settings file was created by plugin DontTouchMyClogs v1.2.0
## Plugin GUID: com.github.zehsteam.DontTouchMyClogs

[General Settings]

## Enable extended logging.
# Setting type: Boolean
# Default value: false
ExtendedLogging = false

[Wooden Clogs Settings]

## Wooden Clogs spawn chance weight.
# Setting type: Int32
# Default value: 5
SpawnWeight = 5

## If enabled, the Wooden Clogs will be two-handed.
# Setting type: Boolean
# Default value: false
TwoHanded = false

## Wooden Clogs carry weight in pounds.
# Setting type: Int32
# Default value: 6
CarryWeight = 6

## Wooden Clogs min scrap value.
# Setting type: Int32
# Default value: 80
MinValue = 80

## Wooden Clogs max scrap value.
# Setting type: Int32
# Default value: 250
MaxValue = 250

## The volume of the karaoke video.
# Setting type: Single
# Default value: 70
# Acceptable value range: From 0 to 100
KaraokeVideoVolume = 70

## STREAMER WARNING! Music is DMCA. (This does not affect Karaoke)
# Setting type: Boolean
# Default value: false
MusicEnabled = false

## The volume of the music.
# Setting type: Single
# Default value: 80
# Acceptable value range: From 0 to 100
MusicVolume = 80

